:root{
    --body-color : linear-gradient(180deg, #d7e9fc, #f5f2f9);
    --container1 : #FFFFFF;
    --container1-boxshadow: #00000014;    
    --container1-boxshadow-hover: #00000024;
    --slider-bg : #CCCCCC;
    --slider-switch: #000000;
    --slider-input: #007BFF;
    --h1-color: #000000;
    --h4-color: #333333;
    --p-color: #555555;
    --btn-text-color: #FFFFFF;
    --html-btn: #E44D26;
    --html-gra: linear-gradient(0deg, rgba(228,77,38,1) 0%, rgba(199,67,33,1) 100%);
    --css-btn: #264DE4;
    --css-gra: linear-gradient(0deg, rgba(38,77,228,1) 0%, rgba(20,53,185,1) 100%);
    --js-btn: #F7DF1E;
    --js-gra: linear-gradient(0deg, rgb(159, 143, 17) 0%, rgba(201,179,25,1) 100%);
    --mixed-btn: #764ABC;
    --mixed-gra: linear-gradient(0deg, rgba(118,74,188,1) 0%, rgba(88,52,148,1) 100%);
    --footer-color: #777777;
    /* QUIZ OPTION  */
    --question-bg: #E0E0E0;
    --question-color: #1A1A1A;
    --question-border-color-light: #007BFF;
    --question-border-color-dark: #00C9FF;
    --option-bg: #F0F0F0;
    --option-hover-bg: #E0E0E0;
    --option-text-color: #333333;
    --option-border-color: #CCCCCC;
    --pre-btn-bg: #E3F0FF;    
    --pre-btn-text: #2D89EF;    
    --pre-btn-border: #2D89EF;    
    --pre-btn-bg-hover: #2D89EF;    
    --pre-btn-text-hover: #ffffff;    
    --next-btn-bg: #ECE9FF;    
    --next-btn-text: #5A4FF0;    
    --next-btn-border: #5A4FF0;    
    --next-btn-bg-hover: #5A4FF0;    
    --next-btn-text-hover: #ffffff;  
    --correct-bg: #38C172;
    --correct-text: #FFFFFF;
    --correct-brder: #2ECC71;
    --correct-hover-bg : #2ECC71;
    --correct-hover-border : #2ECC71;
    --notcorrect-bg: #E74C3C;
    --notcorrect-text: #FFFFFF;
    --notcorrect-border: #C0392B;
    --notcorrect-hover-bg : #C0392B;
    --notcorrect-hover-border : #C0392B;
    --btn-restart-bg: linear-gradient(145deg, #007BFF, #0056B3); 
    --btn-restart-text: #FFFFFF; 
    --btn-restart-hover-bg: linear-gradient(145deg, #003D80, #002A54);
    --btn-restart-hover-text: #FFFFFF;
}
.dark-theme{
    --body-color : linear-gradient(180deg, #121212, #212121);
    --container1 : #1E1E1E;
    --container1-boxshadow: #00000099;    
    --container1-boxshadow-hover: #000000C0;
    --slider-bg : #333333;
    --slider-switch: #2705ff;
    --slider-input: #64B5F6;
    --h1-color: #F5F5F5;
    --h4-color: #efefef;
    --p-color: #efeeee;
    --btn-text-color: #FFFFFF;
    --html-btn: #E44D26;
    --html-gra: linear-gradient(0deg, #E44D26 0%, #C74321 100%);
    --css-btn: #264DE4;
    --css-gra: linear-gradient(0deg, #264DE4 0%, #1435B9 100%);
    --js-btn: #F7DF1E;
    --js-gra: linear-gradient(0deg, #9F8F11 0%, #C9B319 100%);
    --mixed-btn: #764ABC;
    --mixed-gra: linear-gradient(0deg, #764ABC 0%, #583494 100%);
    --footer-color: #fff7f7;
    /* QUIZ OPTION  */
    --question-bg: #1A1A1A;
    --question-color: #EAEAEA;
    --question-border-color-light: #64B5F6;
    --question-border-color-dark: #2705ff; 
    --option-bg: #292929;
    --option-hover-bg: #3A3A3A;
    --option-text-color: #CCCCCC;
    --option-border-color: #CCCCCC;
    --pre-btn-bg: #1A2635;    
    --pre-btn-text: #64B5F6;    
    --pre-btn-border: #64B5F6;    
    --pre-btn-bg-hover: #64B5F6;    
    --pre-btn-text-hover: #000000;    
    --next-btn-bg: #26203A;    
    --next-btn-text: #9DA0FF;    
    --next-btn-border: #9DA0FF;    
    --next-btn-bg-hover: #9DA0FF;    
    --next-btn-text-hover: #000000;    
    --correct-bg: #38C172;
    --correct-text: #FFFFFF;
    --correct-brder: #2ECC71;
    --correct-hover-bg : #1E8449;
    --correct-hover-border : #1E8449;
    --notcorrect-bg: #E74C3C;
    --notcorrect-text: #FFFFFF;
    --notcorrect-border: #C0392B;
    --notcorrect-hover-bg : #943126;
    --notcorrect-hover-border : #943126;
    --btn-restart-bg: linear-gradient(145deg, #1C3F7A, #00224D); 
    --btn-restart-text: #EAEAEA; 
    --btn-restart-hover-bg: linear-gradient(145deg, #001224, #000000);
    --btn-restart-hover-text: #FFFFFF; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--body-color);    
}

.container1{
    max-width: 500px;
    height: auto;
    width: calc(100% - 60px);
    padding: 20px;
    margin: 30px;
    background-color: var(--container1);
    box-shadow: 0px 4px 12px var(--container1-boxshadow);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.container1:hover{
    box-shadow: 0px 6px 18px var(--container1-boxshadow-hover);
}

.theme-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 10px;
}

.switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 24px;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--slider-bg);
    transition: 0.4s;
    border-radius: 40px;
}

.slider::before{
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    left: 0px;
    bottom: -4px;
    background-color: var(--slider-switch);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 20 20"><path fill="%23fff" d="M9.305 1.667V3.75h1.389V1.667h-1.39zm-4.707 1.95l-.982.982L5.09 6.072l.982-.982-1.473-1.473zm10.802 0L13.927 5.09l.982.982 1.473-1.473-.982-.982zM10 5.139a4.872 4.872 0 00-4.862 4.86A4.872 4.872 0 0010 14.862 4.872 4.872 0 0014.86 10 4.872 4.872 0 0010 5.139zm0 1.389A3.462 3.462 0 0113.471 10a3.462 3.462 0 01-3.473 3.472A3.462 3.462 0 016.527 10 3.462 3.462 0 0110 6.528zM1.665 9.305v1.39h2.083v-1.39H1.666zm14.583 0v1.39h2.084v-1.39h-2.084zM5.09 13.928L3.616 15.4l.982.982 1.473-1.473-.982-.982zm9.82 0l-.982.982 1.473 1.473.982-.982-1.473-1.473zM9.305 16.25v2.083h1.389V16.25h-1.39z"/></svg>');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    transition: 0.4s;
    border-radius: 50%;
}

.switch input:checked + .slider{
    background-color: var(--slider-input);
}

.switch input:checked + .slider::before{
    transform: translateX(20px);
    background-color: var(--slider-switch);
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="%23fff" viewBox="-1 -3 20 20"%3E%3Cpath d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278"/%3E%3Cpath d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.73 1.73 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.73 1.73 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.73 1.73 0 0 0 1.097-1.097zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
}

.heading{
    margin-top: 15px;
    text-align: center;
    width: 100%;
    font-size: 40px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--h1-color);
}

.welcome-line , .score-line{
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 5px;
    color: var(--h4-color);
}
.description{
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
    color: var(--p-color);
}

.btn-wrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px auto 0;
    gap: 10px; 
    box-sizing: border-box;
}

.html-btn , .css-btn, .js-btn , .mixed-btn{
    position: relative;
    margin: 10px 30px;
    text-align: center;
    width: 150px;
    height: 40px;
    border: none;
    box-shadow: none;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
    background-color: transparent;
    border-radius: 30px;
    transition: all 0.4s ease-in-out;
}
.html-btn span, #main-btn1, .css-btn span,#main-btn2, .js-btn span,#main-btn3, .mixed-btn span,#main-btn4{
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    text-decoration: none;
    background-color: transparent;
    color: var(--btn-text-color);
    border: none;
    cursor: pointer;
}

.html-btn span, .html-btn #main-btn1{
    background: var(--html-btn);
    background: var(--html-gra);
}
.css-btn span, .css-btn #main-btn2{
    background: var(--css-btn);
    background: var(--css-gra);
}
.js-btn span, .js-btn #main-btn3{
    background: var(--js-btn);
    background: var(--js-gra);
}
.mixed-btn span, .mixed-btn #main-btn4{
    background: var(--mixed-btn);
    background: var(--mixed-gra);
}

.html-btn span, #main-btn1, .css-btn span, #main-btn2, .js-btn span, #main-btn3, .mixed-btn span, #main-btn4{
  display: block;
  position: absolute;
  width: 150px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.html-btn span, .css-btn span, .js-btn span, .mixed-btn span{
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.html-btn #main-btn1, .css-btn #main-btn2, .js-btn #main-btn3, .mixed-btn #main-btn4{
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.html-btn:hover span, .css-btn:hover span, .js-btn:hover span, .mixed-btn:hover span{
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.html-btn:hover #main-btn1, .css-btn:hover #main-btn2, .js-btn:hover #main-btn3, .mixed-btn:hover #main-btn4{
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

footer{
    margin-top: 15px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--footer-color);
}

@media (max-width: 768px) {
    .welcome-line, .description{
        font-size: 14px;
    }    
    .heading{
        margin-top: 20px;
        font-size: 30px;
    }    
}


/* QUIZ-DESIGN  */

@keyframes rotating-border {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 200% 0%;
    }
}

.question-div {
    position: relative; 
    padding: 2px; 
    margin-top: 20px; 
    margin-bottom: 20px;
    border-radius: 10px; 
    overflow: hidden; 
}
.question-div::before {
    content: '';
    position: absolute;
    top: -2px; 
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: 1;
    border-radius: 10px;
    background: linear-gradient(
        90deg, 
        var(--question-border-color-light) 0%, 
        var(--question-border-color-dark) 50%, 
        var(--question-border-color-light) 100%
    );
    background-size: 300% 100%;
    animation: rotating-border 4s linear infinite;
}

.question-div .question {
    position: relative;
    text-align: center;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    z-index: 1;
    color: var(--question-color);
    background-color: var(--question-bg); 
    padding: 15px;
    border-radius: 8px;
    margin: 0;
}

.option-class{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.option{
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    background-color: var(--option-bg);
    color: var(--option-text-color);
    border: 1.5px solid var(--option-border-color);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
}

.option:hover{
    background-color: var(--option-hover-bg);
    transform: scale(1.03);
}

.quiz-buttons{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pre-btn, .next-btn{
    width: 100px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
    overflow: hidden;
}

.pre-btn{
    background-color: var(--pre-btn-bg);
    color: var(--pre-btn-text);
    border: 1.5px solid var(--pre-btn-border);
    position: relative;
    transition: all .35s;
    z-index: 1;
}

.next-btn{
    background-color: var(--next-btn-bg);
    color: var(--next-btn-text);
    border: 1.5px solid var(--next-btn-border);
    position: relative;
    transition: all .35s;
    z-index: 1;
}

.pre-btn:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--pre-btn-bg-hover);
  z-index: -1;
  transition: all .35s;
}

.next-btn:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--next-btn-bg-hover);
  z-index: -1;
  transition: all .35s;
}

.pre-btn:hover:after{
  width: 100%;
}

.next-btn:hover:after{
  width: 100%;
}

.pre-btn:hover{
color: var(--pre-btn-text-hover);
}

.next-btn:hover{
color: var(--next-btn-text-hover);
}

.correct{
    background-color: var(--correct-bg);
    color: var(--correct-text);
    border: 1px solid var(--correct-brder);
    cursor: not-allowed;
}

.correct:hover{
    background-color: var(--correct-hover-bg);
    border-color: var(--correct-hover-border);
    cursor: default;
}

.notcorrect{
    background-color: var(--notcorrect-bg);
    color: var(--notcorrect-text);
    border: 1px solid var(--notcorrect-brder);
    cursor: not-allowed;
}

.notcorrect:hover{
    background-color: var(--notcorrect-hover-bg);
    border-color: var(--notcorrect-hover-border);
    cursor: default;
}

.result-container{
    background: var(--container1);
    box-shadow: 0px 4px 12px var(--container1-boxshadow);
    width: calc(100% - 60px);
    padding: 40px;
    margin: 30px;
    height: auto;
    max-width: 500px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.final-score{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: var(--h1-color)
}

.score-line{
    margin-bottom: 20px;
}

.restart-btn{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    width: 150px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background: var(--btn-restart-bg);
    color: var(--btn-restart-text);
    transition: all 0.4s ease-in-out;
    margin-bottom: 20px;
}

.restart-btn:hover{
    background: var(--btn-restart-hover-bg);
    color: var(--btn-restart-hover-text);
    transform: scale(1.05);
}



